/* Navbar Styling */
.navbar {
  display: flex;
  font-family: Poppins;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #000000be;
  padding: 1rem 2rem;
  position: relative; /* to position the toggle button */
  z-index: 1000;
  transition: all 0.3s ease;
}

.navbar-logo a {
  color: #fff;
  text-decoration: none;
  filter: drop-shadow(2px 2px 2px black);
  font-size: 30px;
  font-weight: 500;
}

.navbar-logo a:hover {
  filter: drop-shadow(5px 5px 5px black);
  letter-spacing: 1px;
}

.navbar-links {
  display: flex;
  flex-direction: row;
  width: 60%;
  align-items: center;
  justify-content: end;
  gap: 3vw;
}

.navbar-links a, .logout-button {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

.navbar-links a:hover, .logout-button:hover {
  filter: drop-shadow(2px 2px 5px rgb(0, 0, 0));
  letter-spacing: 1px;
}
.navbar-dos{
  display: flex;
  width: 60%;
  justify-content: right;
}
.logout-button {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}

.logout-button:focus {
  outline: none;
}

.navbar-toggle-button {
  display: none;
}

/* Mobile Styling */
@media (max-width: 768px) {
  .navbar-dos {
    display: flex; /* Hide the links initially */
    flex-direction: column;
    /* gap: 1rem; */
    position: absolute;
    top: 7vh;
    right: 0;
    background-color: #444444;
    width: 100%;
    padding-bottom: 3vh;
    padding-top: 2vh;
  }
  .navbar-links{
    flex-direction: column;
    width: 100%;
  }
  .navbar-dos.hide {
    display: none; /* Show the links when toggled */
  }

  .navbar-toggle-button {
    display: block;
    background: none;
    border: none;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
  }

  .navbar-logo a {
    font-size: 20px;
  }
}
